# compiled output
dist

# dependencies
node_modules

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Postman collections
postman_banners_collection.json
*postman*.json

